{% extends 'index.twig' %}

{% block mainContent %}
    <div class="error-box">
        <div class="container">
            <h1 class="error-status" style="text-align: center;color: #000; font-weight: bold;">{{ error.status }}</h1>
            <p class="error-text" style="text-align: center;color: #000;font-weight: bold;">{{ error.text }}</p>
        </div>
    </div>
{% endblock %}
