<!DOCTYPE html>
<html lang="ru">
<head>
    <title>News</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>
<!-- Content -->
<main class="wrapp-content">
    <div class="container">
        {% block mainContent %}
        {% endblock %}
    </div>
</main>
</body>
</html>