{% extends 'index.twig' %}
{% block mainContent %}
    <h1>Последние новости ({{ news.length }})</h1>
    {% for n in news %}
        <div class="row">
            <div class="col-md-12">
                <article>
                    <h3>{{ n.title }}</h3>
                    {{ n.content }}
                    <a href="{{ n.link }}" target="_blank">{{ n.link }}</a>
                    <hr>
                </article>
            </div>
        </div>
    {% endfor %}
{% endblock %}
